<div class="container-fluid header">
  <div class="row">
    <div class="col-sm-2 header-left">
      <a href="#">
      Angular4-Admin
      </a>
    </div>
    <div class="col-sm-8 header-middle">
      <a href="#" (click)="wrapperToggled=!wrapperToggled"><fa [name]="wrapperToggled?'toggle-on':'toggle-off'" size="lg"></fa></a>
    </div>
    <div class="col-sm-2 header-right">
      {{ loginService.getCurrentUser().username }} | <a href="#" (click)="logout()">注销</a>
    </div>
  </div>
</div>

<div id="wrapper" [ngClass]="{'toggled':wrapperToggled}">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <a routerLink="one"><fa name="dashboard"></fa>标题1</a>
      </li>
      <li>
        <a  routerLink="two"><fa name="envelope"></fa>标题2</a>
      </li>
      <li>
        <a href="#"><fa name="folder"></fa>标题3</a>
      </li>
      <li>
        <a href="#"><fa name="laptop"></fa>标题4</a>
      </li>
      <li>
        <a href="#"><fa name="book"></fa>标题5</a>
      </li>
      <li>
        <a href="#"><fa name="th"></fa>标题6</a>
      </li>
      <li>
        <a href="#"><fa name="edit"></fa>标题7</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!--<div class="container-fluid">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
          <!--<h1>Simple Sidebar</h1>-->
          <!--<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and-->
            <!--will appear non-collapsed on larger screens. When toggled using the button below, the menu will-->
            <!--appear/disappear. On small screens, the page content will be pushed off canvas.</p>-->
          <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
          <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" (click)="wrapperToggled=!wrapperToggled">Toggle Menu</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
